:root {
  /*common colors */
  --nav-orange: #f6ab6d;
  --nav-hover-offwhite: #faebd7;
  --black: #000;
  /* poem collection colors */
  --red: #780404;
  --yellow: #a78c2a;
  --light-yellow: #fffb80;
  --orange: #f39147;
  --purple: #4d3cf3;
  --light-blue: #1aa1bc;
  --lighter-blue: #a3d6e0;
  --gray: rgb(38, 38, 38);
  --light-gray: rgb(117, 117, 117);
}
