@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap");

@import "allColors.css";
@import "common.css";
@import "home.css";
@import "poemCards.css";
@import "poem.css";

body {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-style: italic;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
  .MuiImageList-root {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .MuiImageListItem-root {
    width: 300px !important;
    height: 210px !important;
  }

  .MuiButtonGroup-root {
    display: inline-grid !important;
  }

  .MuiButton-root {
    justify-content: flex-start !important;
  }
  .MuiPaper-root {
    width: 20%;
  }

  .MuiListItem-root {
    margin: 1em !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .MuiImageList-root {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .MuiImageListItem-root {
    width: 230px !important;
    height: 190px !important;
  }
  .MuiPaper-root {
    width: 10%;
  }

  .MuiListItem-root {
    margin: 1em !important;
  }
}

@media only screen and (min-width: 900px) {
  .MuiImageList-root {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  .MuiImageListItem-root {
    width: 240px !important;
    height: 200px !important;
  }
  .MuiPaper-root {
    width: 6%;
  }
  .MuiListItem-root {
    margin: 1em !important;
  }
}

@media only screen and (min-width: 1200px) {
  .MuiImageList-root {
    grid-template-columns: repeat(4, 1fr) !important;
  }

  .MuiImageListItem-root {
    width: 250px !important;
    height: 210px !important;
  }
}
