/*---------- nav ----------*/
.nav > .MuiPaper-root {
  background-color: var(--nav-orange) !important;
}

.nav-list > .MuiListItem-root:hover {
  background-color: transparent !important;
  color: var(--nav-hover-offwhite);
}

.nav-link {
  text-decoration: none;
  color: var(--black);
}

.nav-link:hover {
  color: var(--nav-hover-offwhite);
}

.nav-logo:hover {
  color: var(--black) !important;
}
/* mobile only */
@media only screen and (max-width: 800px) {
  .nav-list {
    margin: 2em !important;
  }
}

.menu-icon {
  font-size: 25pt !important;
  margin: 10pt;
  margin-left: 0;
  display: block !important;
  color: var(--nav-orange);
  cursor: pointer;
}
.menu-icon.hidden {
  display: none !important;
}

/* desktop only */
@media only screen and (min-width: 800px) {
  .MuiPaper-root {
    border: none !important;
    width: 5em;
    scrollbar-width: none !important;
    overflow: hidden;
  }

  .MuiPaper-root > .nav-list {
    display: flex;
    flex-flow: row-reverse;
    rotate: 270deg;
  }
  .MuiListItem-root {
    margin: 2em !important;
  }
  .nav-logo {
    rotate: 270deg;
  }
}

/*---------- pages ----------*/
.page-title {
  margin-top: 5%;
  font-size: 30pt;
  cursor: pointer;
}

.content-container {
  padding: 0px !important;
  margin: auto !important;
}

.poem-cards.content-container {
  margin-left: 3em !important;
  margin-right: 3em !important;
}

@media only screen and (min-width: 0px) and (max-width: 900px) {
  .content-container {
    margin: auto !important;
  }
}
/*---------- footer ----------*/
footer {
  text-align: center;
  font-weight: 300;
  font-style: normal;
  font-size: 10pt !important;
  letter-spacing: 1pt;
  margin-top: 5%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
}

.heart {
  color: var(--nav-orange);
  font-size: 10pt !important;
}
