/* nav */
.MuiPaper-root {
  border: none !important;
  background-color: var(--nav-orange) !important;
  width: 5%;
  overflow-x: hidden !important;
  scrollbar-width: none !important;
}

.MuiList-root {
  display: flex;
  flex-flow: row-reverse;
  rotate: 270deg;
}

.MuiListItem-root {
  margin: 2em !important;
}

.MuiListItem-root:hover {
  background-color: transparent !important;
  color: var(--nav-hover-offwhite);
}

.nav-link {
  text-decoration: none;
  color: var(--black);
}

.nav-title > .nav-link:hover {
  color: var(--black) !important;
}

.nav-link:hover {
  color: var(--nav-hover-offwhite);
}

.nav-title {
  rotate: 90deg;
  margin: 10% 30%;
  margin-left: 140%;
}

.menu-icon {
  font-size: 25pt !important;
  margin: 10pt;
  margin-left: 0;
  display: block !important;
  color: var(--nav-orange);
  cursor: pointer;
}
.menu-icon.hidden {
  display: none !important;
}

/* pages */
.page-title {
  margin-top: 5%;
  margin-left: 10pt;
  font-size: 30pt;
  cursor: pointer;
}

/* footer */
footer {
  text-align: center;
  font-weight: 300;
  font-style: normal;
  font-size: 10pt !important;
  margin-top: 15%;
  letter-spacing: 1pt;
}

.heart {
  color: var(--nav-orange);
  font-size: 10pt !important;
}
