/* collections buttons */
div.MuiButtonGroup-root {
  margin-left: 10pt;
}
div.MuiButtonGroup-root button {
  border: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
  margin-right: 1.5em !important;
  color: var(--black) !important;
}

button.MuiButton-root.red:hover {
  color: var(--red) !important;
  background-color: transparent !important;
}

button.MuiButton-root.yellow:hover {
  color: var(--yellow) !important;
  background-color: transparent !important;
}

button.MuiButton-root.orange:hover {
  color: var(--orange) !important;
  background-color: transparent !important;
}

button.MuiButton-root.purple:hover {
  color: var(--purple) !important;
  background-color: transparent !important;
}

button.MuiButton-root.blue:hover {
  color: var(--light-blue) !important;
  background-color: transparent !important;
}

/* poem image */
li.MuiImageListItem-root {
  cursor: pointer;
  margin: 10px 10px;
}

li.MuiImageListItem-root > img {
  display: block;
  max-width: 260px;
  max-height: 200px;
  width: auto;
  height: auto;
  filter: grayscale(1);
}

li.MuiImageListItem-root:hover > img {
  -webkit-filter: opacity(0%);
  filter: opacity(0%);
  transition: all 0.5s ease;
}

li.MuiImageListItem-root.yellow {
  background-color: var(--light-yellow);
}

li.MuiImageListItem-root.purple {
  background-color: var(--purple);
}
li.MuiImageListItem-root.orange {
  background-color: var(--orange);
}
li.MuiImageListItem-root.red {
  background-color: var(--red);
}

li.MuiImageListItem-root.blue {
  background-color: var(--lighter-blue);
}

/* poem text */
li.MuiImageListItem-root div.MuiImageListItemBar-root {
  background-color: transparent;
  mix-blend-mode: difference;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease;
  text-align: center;
  width: fit-content;
}

li.MuiImageListItem-root:hover div.MuiImageListItemBar-root {
  opacity: 1;
  mix-blend-mode: difference;
  word-wrap: break-word;
}
