/* collections buttons */
div.MuiButtonGroup-root {
  margin-left: 10pt;
}
div.MuiButtonGroup-root button {
  border: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
  margin-right: 1.5em !important;
  color: black !important;
}

button.MuiButton-root.red:hover {
  color: var(--red) !important;
  background-color: transparent !important;
}

button.MuiButton-root.yellow:hover {
  color: #dfc980 !important;
  background-color: transparent !important;
}

button.MuiButton-root.orange:hover {
  color: #f39147 !important;
  background-color: transparent !important;
}

button.MuiButton-root.purple:hover {
  color: #4d3cf3 !important;
  background-color: transparent !important;
}

button.MuiButton-root.blue:hover {
  color: #76d9ed !important;
  background-color: transparent !important;
}

/* poem image */
li.MuiImageListItem-root {
  cursor: pointer;
  margin: 10px 10px;
}

li.MuiImageListItem-root > img {
  display: block;
  max-width: 260px;
  max-height: 200px;
  width: auto;
  height: auto;
  filter: grayscale(1);
}

li.MuiImageListItem-root:hover > img {
  -webkit-filter: opacity(0%);
  filter: opacity(0%);
  transition: all 0.5s ease;
}

li.MuiImageListItem-root.yellow {
  background-color: #fffb80;
}

li.MuiImageListItem-root.purple {
  background-color: #4d3cf3;
}
li.MuiImageListItem-root.orange {
  background-color: #f39147;
}
li.MuiImageListItem-root.red {
  background-color: var(--red);
}

li.MuiImageListItem-root.blue {
  background-color: #a3d6e0;
}

/* poem text */
li.MuiImageListItem-root div.MuiImageListItemBar-root {
  background-color: transparent;
  mix-blend-mode: difference;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease;
  text-align: center;
  width: fit-content;
}

li.MuiImageListItem-root:hover div.MuiImageListItemBar-root {
  opacity: 1;
  mix-blend-mode: difference;
  word-wrap: break-word;
}
