/* collections buttons */
.collection-buttons {
  margin-bottom: 2em !important;
  display: table !important;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
  .collection-buttons {
    display: inline-grid !important;
  }

  .collection-btn {
    justify-content: left !important;
    text-align: left;
  }
}

.collection-buttons button {
  letter-spacing: 1.5pt;
  border: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
  margin-right: 1.5em !important;
  color: var(--black) !important;
  font-family: "Rubik", sans-serif !important;
}

.collection-btn.red:hover,
.collection-btn.red.selected {
  color: var(--red) !important;
  background-color: transparent !important;
}

.collection-btn.yellow:hover,
.collection-btn.yellow.selected {
  color: var(--yellow) !important;
  background-color: transparent !important;
}

.collection-btn.orange:hover,
.collection-btn.orange.selected {
  color: var(--orange) !important;
  background-color: transparent !important;
}

.collection-btn.purple:hover,
.collection-btn.purple.selected {
  color: var(--purple) !important;
  background-color: transparent !important;
}

.collection-btn.blue:hover,
.collection-btn.blue.selected {
  color: var(--light-blue) !important;
  background-color: transparent !important;
}

.collection-btn.black:hover,
.collection-btn.black.selected {
  color: var(--light-gray) !important;
  background-color: transparent !important;
}

/* poem image */
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .poem-img-list {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 10px !important;
  }
  .poem-img-item {
    height: 160px !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .poem-img-list {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 15px !important;
  }

  .poem-img-item {
    height: 190px !important;
  }
}

@media only screen and (min-width: 900px) {
  .poem-img-list {
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 15px !important;
  }

  .poem-img-item {
    height: 200px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .poem-img-list {
    grid-template-columns: repeat(4, 1fr) !important;
    gap: 15px !important;
  }

  .poem-img-item {
    height: 210px !important;
  }
}

.poem-img-item {
  cursor: pointer;
  width: inherit !important;
  overflow: hidden !important;
  position: relative !important;
}

.poem-img-item > img {
  display: block;
  width: inherit !important;
  height: inherit !important;
  filter: grayscale(1);
}

.poem-img-item:hover > img {
  -webkit-filter: opacity(10%);
  filter: opacity(10%);
}

.poem-img-item:active > img {
  -webkit-filter: opacity(10%);
  filter: opacity(10%);
}

.poem-img-item.yellow {
  background-color: var(--light-yellow);
}

.poem-img-item.purple {
  background-color: var(--purple);
}
.poem-img-item.orange {
  background-color: var(--orange);
}
.poem-img-item.red {
  background-color: var(--red);
}

.poem-img-item.blue {
  background-color: var(--lighter-blue);
}

.poem-img-item.black {
  background-color: var(--gray);
}

/* poem text */
.poem-img-item .poem-img-text {
  background-color: transparent;
  mix-blend-mode: difference;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease;
  text-align: center !important;
  width: 100%;
  font-weight: 300;
  font-style: normal;
}

.poem-img-item:hover .poem-img-text {
  opacity: 1;
  mix-blend-mode: difference;
}

.MuiImageListItemBar-title {
  width: 100%;
  overflow-wrap: break-word !important;
  white-space: break-spaces !important;
  font-size: 13pt !important;
  text-align: center !important;
}

.MuiImageListItemBar-subtitle {
  text-transform: uppercase;
  overflow-wrap: break-word !important;
  white-space: break-spaces !important;
  font-size: 10pt !important;
  letter-spacing: 1pt;
}
