.poem-title {
  margin-top: 3em;
  text-align: center;
}
.poem-text {
  white-space: break-spaces;
  line-height: 1.5em;
  margin: 2em 2em;
  font-family: "Josefin Slab", serif;
  font-size: 14pt;
  font-weight: 500;
  font-style: normal;
}

.poem-collection {
  cursor: pointer;
}

.nav-arrows {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.nav-arrow {
  cursor: pointer;
  margin-left: 1%;
  margin-right: 1%;
}

.back-text {
  margin-top: 2%;
  cursor: pointer;
  text-align: center;
  color: var(--nav-orange);
  font-size: 10pt;
}
